@import "tailwindcss";

@layer base {
  body {
    font-family: 'Noto Sans SC', sans-serif;
    background-color: #f8fafc;
    -webkit-font-smoothing: antialiased;
  }
}

@layer utilities {
  /* 隐藏滚动条但保留功能 */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}